[submodule "emacs.d/site-lisp/emacs-git-gutter"]
	path = emacs.d/site-lisp/git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
[submodule "emacs.d/themes/monokai"]
	path = emacs.d/themes/monokai
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule "emacs.d/site-lisp/s.el"]
	path = emacs.d/site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "emacs.d/site-lisp/expand-region"]
	path = emacs.d/site-lisp/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "emacs.d/site-lisp/multiple-cursors"]
	path = emacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "emacs.d/site-lisp/smex"]
	path = emacs.d/site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "emacs.d/site-lisp/iy-go-to-char"]
	path = emacs.d/site-lisp/iy-go-to-char
	url = https://github.com/doitian/iy-go-to-char.git
[submodule "emacs.d/site-lisp/company-mode"]
	path = emacs.d/site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
